# Python
__pycache__/
*.pyc

# Virtual env
venv/
.env/

# Database
*.db
*.db-shm
*.db-wal

# Models & embeddings
*.onnx
*.pkl
*.whl

# Dataset
Faces/
models/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Excluded folders
Presentations/
.venv/
.vscode/
*.whl